---
import { Button } from "@/components/ui/button";

// To pass the tailwindcss classes to the astro component
const { class: className } = Astro.props;
---

<footer class:list={["py-[1.2rem] px-6 w-full", className]}>
  <div class="flex justify-center sm:justify-end items-center container">
    <!-- Logo 1 -->
    <a href="/" class="flex">
      <Button
        client:load
        className="flex hover:no-underline text-2xl"
        variant="link"
        >
        <img src="/CEDES.png" alt="CEDES LOGO" class="w-[10.9rem] h-[4rem]" />
      </Button>
    </a>
    
    <!-- Logo 2 -->
    <a href="/" class="flex">
      <Button
        client:load
        className="flex hover:no-underline text-2xl"
        variant="link"
      >
        <img src="/CI2A.png" alt="CI2A LOGO" class="w-[5.1rem] h-[4rem]" />
      </Button>
    </a>

  </div>
</footer>
